<link rel="stylesheet" href="/css/navbar.css">
<nav class="admin-nav">

    <div class="logo">
        🛠️ Admin Panel
    </div>

    <div class="links">
        <a href="/admin/dashboard">📊 Dashboard</a>
        <a href="/services">🏠 Website</a>
        <a href="/auth/logout">🚪 Logout</a>
    </div>

</nav>